[mysqld]
# Because php doesn't support caching_sha2_password now (2019-10-29)
default_authentication_plugin=mysql_native_password
# To force SSL connection
require_secure_transport = ON
# To secure database records more
sql_mode = TRADITIONAL,NO_AUTO_VALUE_ON_ZERO,ONLY_FULL_GROUP_BY
